body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #37373F;
}

body > div, html > div {
  width: 100%;
}

.red {
  color: #C94042;
}

header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.takelook {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-left: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phones, .numbers {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 0 15px;
  color: #B3B3B3;
}

.numbers {
  width: 40%;
  color: #37373F;
}

.callback {
  background-color: #C94042;
  color: white;
  padding: 15px;
  border-radius: 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.callback:hover {
  background-color: rgba(201, 64, 66, 0.8);
}

.tagline {
  height: 840px;
  background-image: url(images/BackgroundDesktop.png);
  background-repeat: round;
  background-position: left center;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tagline .container {
  margin: 130px 0 0 20%;
}

.tagline .container .marketingString {
  margin: 0 0 20px 0;
}

.tag1500 {
  width: 230px;
  height: 99px;
  background-image: url(images/tagBack.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cost {
  font-weight: normal;
  font-size: 18px;
  line-height: 151.16%;
  margin: 0;
  width: 55%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 15px;
}

.P1500 {
  font-weight: 800;
  font-size: 35px;
}

.percent {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.btnReservation, .btn-red {
  text-decoration: none;
  border-radius: 3px;
  border: 3px solid white;
  padding: 20px 45px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.btnReservation:hover, .btn-red:hover {
  background-color: rgba(253, 253, 255, 0.2);
}

.third {
  height: 2380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.third .container {
  height: 2280px;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
  width: 50%;
}

.description > img {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.des-name {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #37373F;
  margin: 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-des {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-clock {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-photos {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-place {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-lang {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des-money {
  display: none;
}

.moreThan50 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #C7C7C7;
  border-top: 0.5px solid #C7C7C7;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  display: flex;
  align-items: center;
}

.moreThan50 > *:first-child {
  margin-right: 20px;
}

.moreThan50 > p {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
}

.moreThan50 > p > span {
  font-weight: 600;
}

.moreThan50 > *:last-child {
  margin-left: 20px;
}

.photos {
  height: 530px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: 0.5px solid #C7C7C7;
}

.photos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.photos > div > img {
  margin: 0 10px 10px 0;
}

.photos > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #37373F;
}

.photos > a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 40px;
}

.link {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #5286EC;
  text-decoration: none;
}

.link:hover {
  color: #52c2ee;
  cursor: default;
}

.inner4 {
  height: 600px;
  width: 60%;
  color: #37373F;
  border-bottom: 0.5px solid #C7C7C7;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.inner4 > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.inner4 > p > span {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.inner5 {
  height: 600px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 0.5px solid #C7C7C7;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.inner5 > img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 35px;
}

.inner5 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.inner5 > div > img:last-child {
  height: 139px;
  width: 139px;
}

.inner5 > div > p:nth-child(2) {
  margin-bottom: 10px;
  text-align: center;
}

.inner5 > div > p:nth-child(3) {
  margin: 0 0 10px 0;
  text-align: center;
}

.inner5 > div > a {
  text-align: center;
}

.inner6 {
  height: 540px;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner6 > P {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.inner6 > div {
  border: 0.5px solid #C7C7C7;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.inner6 > div img {
  margin-left: 20px;
}

.inner6 > div > div {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
}

.inner6 > div > div:nth-child(1), .inner6 > div div:nth-child(2) {
  border-bottom: 0.5px solid #C7C7C7;
}

.cup {
  margin-left: 0;
  margin-right: 20px;
}

.timetable {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timetable span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.btn-red {
  border-color: #C94042;
  color: #C94042;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 40px;
  padding: 15px 30px;
}

.fourth {
  height: 509px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

iframe {
  width: 100%;
  height: 100%;
}

.mapLegend {
  height: 469px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin-left: 20%;
  position: absolute;
}

.mapLegend > .item:first-child {
  margin-top: 53px;
}

.mapLegend > .items {
  width: 80%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 61px;
  width: 100%;
}

.item > div:not(.image-container) {
  border-radius: 50%;
  background-color: #C94042;
  color: white;
  font-weight: bold;
  font-size: 35px;
  line-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  width: 61px;
  margin-right: 15px;
}

.item > p {
  margin: 4px;
}

.item > p:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.item > p:nth-child(2) {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.marieInLegend {
  height: 100px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.marieInLegend > p {
  margin: 0;
}

.marieInLegend > a {
  width: 250px;
}

.image-container {
  margin-right: 15px;
  background: white;
  height: 100%;
  width: 67px;
}

.image-container > img {
  height: 61px;
  width: 61px;
}

.fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.fifth > a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 40px;
}

.feedbacks-container {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-left: 20%;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 655px;
  margin-top: 30px;
}

.feedback > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback > div > .mark, .feedback > div > .date {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1%;
}

.feedback > p {
  margin: 3% 0 4% 18%;
}

.feedback > .date {
  margin: 0 0 0 18%;
  padding-bottom: 4%;
  border-bottom: 0.5px solid #C7C7C7;
}

.infoFeedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 81px;
  margin-left: 20px;
}

.infoFeedback > p {
  margin: 0;
}

.infoFeedback > .profession {
  margin: 10px 0;
}

.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profession {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mark, .date {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mark > p, .date > p {
  margin: 0 0 0 5px;
}

.mark > div, .date > div {
  margin-bottom: 10px;
}

.green-ok, .arrow-down {
  width: 20px;
  height: 11.5px;
  border-bottom: 2.5px solid #6AAD4A;
  border-left: 2.5px solid #6AAD4A;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.message {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.social-networks-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 390px;
}

.lang {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin: 0 5px 0 20px;
}

.arrow-down {
  border-color: #C7C7C7;
  width: 7px;
  height: 7px;
  margin: 0;
}

.rights {
  width: 100%;
  background: #FAF9F8;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rights > p {
  text-align: center;
}

.pays {
  margin: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

@media (max-width: 425px) {
  header {
    height: 60px;
  }
  header > *:not(.takelook) {
    display: none;
  }
  .takelook {
    margin-left: 5%;
  }
  .tagline {
    height: 654px;
    background-image: url(images/Background.png);
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .tagline > .container {
    margin: 0 0 0 5%;
  }
  .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .third > .container {
    width: 90%;
    height: auto;
    margin-top: 50px;
  }
  .description {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
  .description > img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .des-name {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .des-des {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .des-clock {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .des-lang {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .des-money {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .des-place {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .des-photos {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .moreThan50 {
    height: 76px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .moreThan50 > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .moreThan50 p {
    margin-left: 20px;
  }
  .moreThan50 *:first-child {
    margin: 0 0 5% 0;
  }
  .showed-all {
    height: auto;
  }
  .photos > p {
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
  }
  .photos > a {
    margin-top: 20px;
  }
  .photos > div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner4 {
    width: 100%;
    border: none;
    height: auto;
  }
  .inner5 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    height: auto;
    border: none;
  }
  .cup {
    margin: 0;
  }
  .inner6 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner6 > p {
    width: 100%;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
  .fourth {
    border: none;
    height: auto;
    width: 100%;
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  iframe {
    height: 400px;
  }
  .mapLegend {
    position: relative;
    border: 0.5px solid #C7C7C7;
    margin: 30px 0 0 0;
    width: 90%;
  }
  .marieInLegend {
    height: 104px;
  }
  .marieInLegend .profession {
    margin: 2px 0;
  }
  .fifth {
    margin-top: 10px;
  }
  .feedbacks-container {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedbacks-container > p {
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }
  .feedbacks-container > div {
    width: 90%;
  }
  .feedback {
    width: 100%;
  }
  .feedback > div .mark, .feedback > div .date {
    width: 100%;
    margin-top: 20px;
  }
  .feedback > .message {
    margin-left: 0;
  }
  .feedback > .date {
    margin-left: 0;
  }
  header {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */