body, html {
    margin: 0;
    padding: 0;
}

body > div {
    width: 100%;
}

.first {
    height: 144px;
    background-color: blue;
}



.second {
    height: 800px;
    background-color: aqua;
}



    .third {
        height: 2380px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: cadetblue;
    }

    .container {
        height: 2280px;
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: red;
        margin-bottom: 2%;
    }

    .inner1, .inner2 {
        margin-top: 3%;
    }

    .inner1 {
        height: 500px;
        width: 23vw;
        background-color: forestgreen;
        margin-left: 2%;
    }

    .inner2 {
        height: 380px;
        width: 29vw;
        background-color: cornflowerblue;
        margin-right: 2%;
    }

    .inner3 {
        height: 530px;
        width: 60vw;
        background-color: yellow;
    }

    .inner4 {
        height: 600px;
        width: 30vw;
        background-color: white;
    }

    .inner5 {
        height: 600px;
        width: 30vw;
        background-color: blue;
    }

    .inner6 {
        height: 540px;
        width: 40vw;
        background-color: darkgray;
        align-self: flex-start;
    }



.fourth {
    height: 550px;
    background-color: blueviolet;
}



    .fifth {
        height: 1385px;
        background-color: coral;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .upper, .lower {
        margin-left: 15%;
        background-color: black;
        color: white;
    }

    .upper {
        height: 1100px;
        width: 36vw;
        margin-top: 2%;
    }

    .lower {
        height: 200px;
        width: 60vw;
    }

    .six {
        display: none;
    }

    @media (max-width: 425px) {

        .first {
            height: 60vh;
        }

        .second {
            height: 650px;
        }

        .third {
            height: 3400px;
        }

        .container {
            width: 100%;
            height: 100%;
            
            justify-content: space-around;
            align-content: flex-start;
            margin: 0;
        }

        .inner1, .inner2, .inner3, .inner5, .inner6 {
            width: 90vw;
            margin: 2% 0 0 0;
        }

        .inner1 {
            height: 300px;
        }

        .inner2 {
            height: 400px;
        }

        .inner3 {
            height: 500px;
        }

        .inner4 {
            height: 100px;
            width: 100%;
            margin: 2% 0 0 0;
        }

        .inner5 {
            height: 1300px;
        }

        .inner6 {
            height: 600px;
        }

        .fourth {
            height: 400px;
        }

        .fifth {
                height: 1480px;
        }

        .upper, .lower {
            display: none;
        }

        .six {
            display: block;
            height: 130px;
            width: 100%;
            background: cadetblue;
        }
    }